.form-container.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background: #f9fafc;
  color: #333;
  text-align: center;
  border-radius: 1rem;
  box-sizing: content-box;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 85%;
  max-width: 30rem;
  margin-bottom: 2rem; /* Espaço inferior para separação dos componentes */

  img.logo {
    width: 5rem;
    margin-bottom: 1.25rem;
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: 500;
  }

  form {
    width: 100%;

    .input-group {
      width: 100%;
      margin-bottom: 1.25rem;

      input {
        width: 100%;
        padding: 0.875rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
      }
    }

    .remember-forgot {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 1.25rem;

      a {
        color: #3f51b5;
        text-decoration: none;
        font-size: 0.875rem;
      }
    }

    button {
      width: 100%;
      margin-top: 1.25rem;
    }

    .divider {
      text-align: center;
      margin: 1.25rem 0;

      span {
        padding: 0 0.625rem;
        font-weight: 500;
      }
    }

    .social-container {
      display: flex;

      justify-content: center;
      margin-top: 1.25rem;
      size: 16px;
      font-size: 16px;

      a {
        margin: 0 0.9375rem;
        font-size: 1.875rem;
        img {
          width: 36px;
          height: 36px;
        }
      }

      a:hover {
        transform: translateY(-0.125rem);
      }
    }
  }
}
