.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cfdef3;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
  }
  