<div class="form-container signup">
  <h1>Cadastre-se</h1>
  <form>
    <div class="input-group">
      <input pInputText type="text" placeholder="Nome" required />
    </div>
    <div class="input-group">
      <input pInputText type="text" placeholder="Sobrenome" required />
    </div>
    <div class="input-group">
      <input pInputText type="email" placeholder="Email" required />
    </div>
    <div class="input-group">
      <input pInputText type="tel" placeholder="Telefone" required />
    </div>
    <div class="input-group">
      <input pPassword placeholder="Senha" required/>
    </div>
    <div class="input-group">
      <input pPassword placeholder="Repetir senha" required />
    </div>
    <p-button type="submit" label="Cadastrar" icon="pi pi-user-plus"></p-button>
    <div class="divider"><span>ou</span></div>
    <div class="social-container">
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3955/3955051.png" alt="LinkedIn"></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/300/300221.png" alt="Google"></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3670/3670124.png" alt="Facebook"></a>
    </div>
  </form>
</div>
