<div class="form-container signup">
    <h1>Cadastre-se</h1>
    <form>
        <div class="input-group">
            <input type="text" placeholder="Nome" required>
        </div>
        <div class="input-group">
            <input type="text" placeholder="Sobrenome" required>
        </div>
        <div class="input-group">
            <input type="email" placeholder="Email" required>
        </div>
        <div class="input-group">
            <input type="tel" placeholder="Telefone" required>
        </div>
        <div class="input-group">
            <input type="password" placeholder="Senha" required>
        </div>
        <div class="input-group">
            <input type="password" placeholder="Repetir senha" required>
        </div>
        <button type="submit">Cadastrar</button>
        <div class="divider"><span>ou</span></div>
        <div class="social-container">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3955/3955051.png" alt="LinkedIn"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/300/300221.png" alt="Google"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3670/3670124.png" alt="Facebook"></a>
        </div>
    </form>
</div>
