.form-container.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background: linear-gradient(to bottom right, #5378d6, #6a8df7);
  color: white;
  box-sizing: content-box;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 85%;

  max-width: 30rem;

  h1 {
    font-weight: 700;
    margin-bottom: 2rem;
  }

  form {
    width: 100%;

    .input-group {
      width: 100%;
      margin-bottom: 1.25rem;

      input {
        width: 100%;
        padding: 0.875rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.15);
        color: white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }

    button {
      width: 100%;
      margin-top: 1.25rem;
    }

    .divider {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .divider p-divider {
      flex-shrink: 0;
    }

    .divider span {
      margin: 0 10px; /* Ajuste o espaçamento conforme necessário */
    }

    .social-container {
      display: flex;
      justify-content: center;
      margin-top: 1.25rem;

      a {
        margin: 0 0.9375rem;
        font-size: 1.875rem;
        img {
          width: 36px;
          height: 36px;
        }
      }

      a:hover {
        transform: translateY(-0.125rem);
      }
    }
  }
}
